.features {
    padding: 81px 0 90px;
    text-align: center;
    &-subheader {
        @include primary-subheader;
        margin: 0;
    }
    &-header {
        @include secondary-header;
        margin: 17px 0 27px;
    }
    &-descr {
        margin: 0;
        @include primary-text;
    }
    &-items {
        display: flex;
        margin-top: 100px;
        justify-content: center;
        text-align: left;
        &-item {
            display: flex;
            flex-direction: column;
            justify-content: start;
            width: 19%;
            margin: 0 26px;
            &-header {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                p {
                    @include primary-subheader;
                    margin: 0;
                    margin-left: 10px;
                }
            }
            &-descr {
                @include secondary-text;
            }
        }
    }
}
@media (max-width: 1296px) {
    .features {
        &-items {
            align-items: center;
            &-item {
                width: 25%;
            }
        }
    }
}
@media (max-width: 1200px) {
    .features {
        &-items {
            align-items: center;
            &-item {
                width: 30%;
            }
        }
    }
}
@media (max-width: 992px) {
    .features {
        &-items {
            flex-direction: column;
            margin-top: 70px;
            &-item {
                width: 70%;
                margin-top: 30px;
            }
        }
    }
}
@media (max-width: 419px) {
    .features {
        padding: 81px 0 108px;
        &-items {
            margin-top: 88px;
            &-item {
                width: 70%;
                margin-top: 90px;
            }
        }
    }
}