.footer {
    padding: 130px 0;
    .container {
        display: flex;
        justify-content: space-around;
        >img {
            width: 35%;
        }
    }
    &-pages {
        &-header {
            @include primary-subheader;
            margin: 0 0 9px;
        }
        &-name {
            font-size: 15px;
            line-height: 27px;
            color: #252B42;
            font-family: 'Roboto Regular';
            margin: 16px 0 0;
        }
    }
    &-contacts {
        width: 20%;
        &-item {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            &-descr {
                margin: 0 0 0 21px;
                font-size: 12px;
                line-height: 18px;
                color: #374754;
                font-family: 'Roboto Bold';
            }
        }
        &-socialnetworks {
            img {
                margin-right: 32px;
            }
        }
    }
}
@media (max-width: 1200px) {
    .footer {
        &-contacts {
            &-socialnetworks {
                img {
                    margin-right: 20px;
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .footer {
        .container {
            flex-direction: column;
            align-items: center;
            >img {
                width: 80%;
                margin: 55px 0 65px;
            }
        }
        &-contacts {
            width: 50%;
            &-socialnetworks {
                img {
                    margin-right: 32px;
                    margin-top: 55px;
                }
            }
        }
        &-pages {
            text-align: center;
        }
    }
}
@media (max-width: 540px) {
    .footer {
        &-contacts {
            width: 60%;
        }
    }
}
@media (max-width: 460px) {
    .footer {
        &-contacts {
            width: 70%;
        }
    }
}