@mixin primary-button__big {
    background: #FFFFFF;
    border-radius: 35px;
    font-size: 22px;
    line-height: 33px;
    color: #2091F9;
    font-family: 'Roboto Bold';
    border: none;
    &:hover {
        border: 1px solid #FFFFFF;
        background: none;
        color: #FFFFFF;
    }
}
@mixin primary-button__small {
    background: #FFFFFF;
    border-radius: 35px;
    font-size: 16px;
    line-height: 16px;
    color: #2091F9;
    font-family: 'Roboto Medium';
    border: none;
    &:hover {
        border: 1px solid #FFFFFF;
        background: none;
        color: #FFFFFF;
    }
}
@mixin secondary-button__big {
    background: #2091F9;
    border-radius: 35px;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    font-family: 'Roboto Bold';
    border: none;
    &:hover {
        border: 1px solid #2091F9;
        background: none;
        color: #2091F9;
    }
}
@mixin secondary-button__small {
    background: #2091F9;
    border-radius: 35px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    font-family: 'Roboto Medium';
    border: none;
    &:hover {
        border: 1px solid #2091F9;
        background: none;
        color: #2091F9;
    }
}
@mixin primary-header {
    font-size: 55px;
    line-height: 65px;
    color: #FFFFFF;
    font-family: 'Roboto Black';
}
@mixin secondary-header {
    font-size: 46px;
    line-height: 57px;
    color: #FFFFFF;
    font-family: 'Roboto Regular';
}
@mixin primary-subheader {
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    font-family: 'Roboto Bold';
}
@mixin primary-text {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: 'Roboto Bold';
}
@mixin secondary-text__white {
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    font-family: 'Roboto Regular';
}
@mixin secondary-text__dark {
    font-size: 18px;
    line-height: 27px;
    color: #374754;
    font-family: 'Roboto Regular';
}