@mixin primary-button__big-white {
    background: #FFFFFF;
    border-radius: 35px;
    font-size: 22px;
    line-height: 33px;
    color: #2091F9;
    font-family: 'Roboto Bold';
    border: none;
    &:hover {
        border: 1px solid #FFFFFF;
        background: #38A3F1;
        color: #FFFFFF;
    }
}
@mixin primary-button__big-blue {
    background: #2091F9;
    border-radius: 35px;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    font-family: 'Roboto Bold';
    border: none;
    &:hover {
        border: 1px solid #FFFFFF;
        background: #FFFFFF;
        color: #38A3F1;
    }
}
@mixin primary-button__small{
    background: #2091F9;
    border-radius: 35px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    font-family: 'Roboto Medium';
    border: none;
    &:hover {
        border: 1px solid #FFFFFF;
        background: #FFFFFF;
        color: #38A3F1;
    }
}
@mixin secondary-button__white {
    background: #FFFFFF;
    border-radius: 35px;
    font-size: 16px;
    line-height: 16px;
    color: #EF2779;
    font-family: 'Roboto Medium';
    border: none;
    &:hover {
        border: none;
        background: #EF2779;
        color: #FFFFFF;
    }
}
@mixin secondary-button__pink {
    background: #EF2779;
    border-radius: 35px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    font-family: 'Roboto Medium';
    border: none;
    &:hover {
        border: 1px solid #EF2779;
        background: none;
        color: #EF2779;
    }
}
@mixin primary-header {
    font-size: 55px;
    line-height: 65px;
    color: #FFFFFF;
    font-family: 'Roboto Black';
}
@mixin secondary-header {
    font-size: 46px;
    line-height: 57px;
    font-family: 'Roboto Regular';
}
@mixin primary-subheader {
    font-size: 22px;
    line-height: 33px;
    font-family: 'Roboto Bold';
}
@mixin primary-text {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Roboto Bold';
}
@mixin secondary-text {
    font-size: 18px;
    line-height: 27px;
    font-family: 'Roboto Regular';
}