.testimonials {
    padding: 111px 0 100px;
    text-align: center;
    .container {
        >img {
            margin: 90px 0 60px;
        }
    }
    &-header {
        @include secondary-header;
        margin: 0;
    }
    &-descr {
        @include primary-text;
        width: 53%;
        margin: 0 auto;
    }
    &-designer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 62px 0 109px;
        &-descr {
            margin-left: 13px;
            &-header {
                margin: 0 0 5px;
                font-size: 12px;
                line-height: 18px;
                color: #374754;
                font-family: 'Roboto Bold';
            }
            &-position {
                margin: 0;
                font-size: 15px;
                line-height: 27px;
                color: #252B42;
                font-family: 'Roboto Regular';
            }
        }
    }
    &-btn {
        @include primary-button__big-blue;
        padding: 16px 47px;
    }
}