.truy {
    padding: 110px 0 133px;
    text-align: center;
    .container {
        display: flex;
        flex-direction: column;
    }
    &-header {
        @include secondary-header;
        width: 30%;
        margin: 0 auto;
    }
    &-descr {
        @include primary-text;
        margin: 27px 0 90px;
    }
    &-btn {
        @include primary-button__big-blue;
        padding: 16px 58px;
        width: 237px;
        margin: 0 auto;
    }
    img {
        width: 80%;
        margin: 113px auto 0;
    }
}
@media (max-width: 1200px) {
    .truy {
        &-header {
            width: 50%;
        }
    }
}
@media (max-width: 768px) {
    .truy {
        &-header {
            width: 70%;
        }
    }
}
@media (max-width: 576px) {
    .truy {
        padding: 90px 0 86px;
        &-header {
            width: 90%;
        }
        img {
            width: 90%;
            margin: 65px auto 0;
        }
        &-descr {
            margin: 27px 0 69px;
        }
    }
    
}